<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django blog</a></h1>
        </div>

        <div>
            <p>published: 01.10.2018, 14:46</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello. I want to be web developer. </p>
        </div>

        <div>
            <p>published: 01.10.2018, 14:46</p>
            <h2><a href="">My second post</a></h2>
            <p>Hello. I want to be web developer. </p>    
        </div>
    </body>
</html>